/* Background IMG */

.weatherPlace {
	border-radius: 3rem;
	height: 37rem;
	min-width: 27rem;
	background-image: url("../../img/museum.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8rem;
	display: flex;
	margin: 4.5rem 4rem 4rem 4rem;
	margin-bottom: 1.9rem;
	position: relative;
}

.weatherPlace p {
	font-size: 2rem;
	font-weight: bold;
	color: var(--dark-purple);
}

.weatherPlace img {
	background-color: var(--dark-purple);
	border-radius: 3rem;
	width: 2rem;
	height: 2rem;
	margin: 0 2rem 0 2rem;
}

/* Current weather */

.weatherPlaceContainer {
	background-color: var(--light-purple);
	width: 10rem;
	height: 19rem;
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
	/* border-bottom-left-radius: 3rem 5rem 3rem; */
	position: absolute;
	top: 14rem;
	z-index: 1;
}

.weatherImg {
	background-color: var(--dark-purple);
	border-top-right-radius: 3rem;
	border-bottom-right-radius: 3rem;
	width: 10rem;
	height: 10rem;
}

.imgWeather {
	width: 4rem;
	height: 4rem;
	margin: 2.5rem;
}

.centigrades {
	display: flex;
	margin: 2.5rem;
}
.centigrades p {
	color: var(--just-white);
}
.weatherNumber {
	font-size: 3rem;
}
