.container {
	height: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

/* Containers  */

.forecastContainer {
	width: 26rem;
	min-width: 28rem;
	margin: 2rem 0 2rem 2rem;
}

.visitContainer {
	margin: 2rem 0 2rem 1rem;
	width: 32rem;
	min-width: 32rem;
}

.reviewsContainer {
	margin: 2rem 0 2rem 1rem;
	width: 30rem;
	min-width: 32rem;
}

.otherPlacesContainer {
	margin: 2rem;
	width: 33rem;
	min-width: 32rem;
}

.titleSection {
	font-weight: 300;
	font-size: 2.5rem;
	margin-bottom: 3.3rem;
}

/* Place to visit - Section */

.visitNamePlace {
	border-radius: 2.5rem;
	height: 21.1rem;
	background-image: url("../../img/street.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	display: flex;
}

.visitNamePlace p {
	font-size: 1rem;
	font-weight: bold;
	color: var(--just-white);
}

.visitNamePlace img {
	width: 1.2rem;
	height: 1.2rem;
}

/* Top Reviews - Section */

.titleContainer {
	display: flex;
	justify-content: space-between;
	margin: 0.5rem 0 3.7rem 0;
}

.review {
	color: var(--color-font-day);
	font-size: 1.4rem;
	display: block;
}

.imgContainer {
	display: flex;
}

.imgContainer img {
	width: 2rem;
	height: 2rem;
	border-radius: 0.5rem;
	margin-left: 1rem;
}

.imgContainer p {
	display: inline;
	width: 2rem;
	height: 2rem;
	color: var(--just-white);
	background-color: var(--light-purple);
	padding: 0.2rem;
	border-radius: 0.5rem;
	margin-left: 1rem;
}

.reviewPlace {
	border-radius: 1.5rem;
	height: 6.6rem;
	background-image: url("../../img/museum.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1rem;
	display: flex;
	margin-bottom: 1.9rem;
}

.reviewPlace p {
	font-size: 1rem;
	font-weight: bold;
	color: var(--just-white);
}

.reviewPlace img {
	width: 1.2rem;
	height: 1.2rem;
}

.reviewPlacePlus {
	border-bottom-left-radius: 1.5rem;
	border-top-left-radius: 1.5rem;
	border-bottom-right-radius: 3rem;
	border-top-right-radius: 3rem;
	height: 12.8rem;
	background-image: url("../../img/placePlus.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
}

.reviewPinContainer {
	margin: 1rem 0 0 1rem;
	display: flex;
}

.reviewPlacePlus p {
	font-size: 1rem;
	font-weight: bold;
	color: var(--just-white);
	z-index: 1;
}

.reviewPlacePlus img {
	width: 1.2rem;
	height: 1.2rem;
}

.reviewContainer {
	width: 5rem;
	height: 100%;
	border-radius: 30px;
	background-color: var(--dark-purple);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.reviewPlus {
	font-size: 1rem;
	color: var(--just-white);
}

/* Cities - Section */

.topSection {
	width: 100%;
	height: 10rem;
	border-radius: 1.5rem;
	margin-bottom: 2.35rem;
	box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.1);
}

.infoParis,
.tempAndCityContainer,
.temp {
	display: flex;
}

.imgParisContainer {
	background-color: var(--ultra-light-purple);
	border-radius: 1.5rem;
	width: 7.3rem;
	height: 7.3rem;
	position: relative;
}

.imgParisContainer img {
	width: 3.5rem;
	height: 3.5rem;
	position: absolute;
	top: 2rem;
	left: 1.9rem;
}

.tempAndCityContainer {
	margin: auto;
	height: 3.1rem;
}

.temp {
	margin-right: 2rem;
}

.temp .number {
	font-size: 3.5rem;
}

.city {
	border-left: 1px solid var(--border-color);
	padding-left: 2.3rem;
	margin: auto;
}
.cityName {
	font-size: 2.3rem;
	font-weight: bold;
}

.textContainer {
	display: flex;
	justify-content: space-evenly;
	padding: 0.7rem;
}

.textContainer p {
	color: var(--color-font-day);
	font-size: 1.3rem;
}

.bottomSection {
	width: 100%;
	height: 14.9rem;
	border: 2px dashed var(--background-color-add-location);
	border-radius: 2rem;
	display: flex;
	background-image: url("../../img/imgAddLocation.png");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 15rem 8rem;
}

.button {
	width: 16rem;
	height: 3rem;
	background-color: var(--background-color-add-location);
	color: var(--dark-purple);
	border: none;
	border-radius: 5rem;
	margin: 1rem auto;
}
