.dayContainer {
	border: 1px solid var(--border-color);
	border-right: none;
	border-radius: 10px;
	width: 100%;
	height: 6.2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	margin-bottom: 1.3rem;
	overflow: hidden;
}

.dayContainer:hover {
	box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.imgWeather {
	width: 3.4rem;
	height: 3.4rem;
	margin-left: 2rem;
}

.dayWeatherContainer {
	display: flex;
	align-items: center;
	width: auto;
}

.letterContainer {
	margin-left: 2rem;
}
.day {
	font-size: 1.8rem;
}

.weather {
	margin-top: 0.2rem;
	font-size: 1.4rem;
	font-weight: 300;
}

.weatherNumberContainer {
	width: 7rem;
	height: 100%;
	border-radius: 10px;
	background-color: var(--ultra-light-purple);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.dayContainer:hover .weatherNumberContainer {
	background-color: var(--dark-purple);
	color: var(--just-white);
}

.weatherNumber {
	font-size: 1.5rem;
	font-weight: bold;
}
